[[config]]
template = "/etc/docker-gen/templates/apache2.tmpl"
dest = "/etc/docker-gen/results/web-proxy.generated.conf"
onlyexposed = true
watch = true
NotifyContainersSignal = 10 # 10 is a signal number to be sent; here SIGUSR1, for graceful restart

[config.NotifyContainersFilter]
label = ["com.docker.compose.service=http-daemon"]